body {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  min-height: 100vh; /* Ensure the body fills the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  /* font-family: Arial, sans-serif; */		
}

.container {
  display: flex; /* Use flexbox for layout */
  /* max-width: 1200px; Set a maximum width for the container */
  width: 100%; /* Ensure the layout fills the available width */
}

.column {
  flex: 1; /* Make the columns flexible to occupy available space */
  padding: 20px; /* Add some padding to the columns */
}

.right-column {
  text-align: right; /* Align content right */
}

.left-column {
  text-align: left; /* Align content left */
}

img {
  max-width: 200px; /* Ensure the image doesn't exceed the width of its container */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Add some spacing between the image and text */
}

.hanging-indent > span {
  display: inline-block;
}

.depth-1 {
  padding-left: 2em; /* First depth */
}

.depth-2 {
  padding-left: 4em; /* Second depth */
}

.depth-2-indent {
  text-indent: 2em; /* Indent */
  padding-left: 4em; /* Second depth */
}

span.yalpsid {
  display:none; 
}

.no-decoration {
            color: inherit; /* This ensures that the link text takes on the color of its parent element */
            text-decoration: none; /* Removes underline */
            cursor: pointer; /* Changes cursor to pointer on hover, indicating it's clickable */
}